<div>
	<h1>Review</h1>
	<form class="delete-review-form">
	<% _.each(reviews, function(review) { %>
		<div id="review" value="<%= review.get('id') %>">
			<h3><%= review.get('user').username %> reviewed on <%= review.get('updated_at') %><h3>
			<%= review.get('comment') %><br/>
			Score: <%= review.get('score') %>
			<button type="submit" class="delete">Delete</button>
		</div>
	<% }); %>
	</form>
</div>